.projectBox
    width @width
    .projectList
        margin-bottom 10px
        background-color #EDEDED
        width @width
        .number
            padding 14px 20px 10px 19px
            width @width
            span
                font-size 17px
                color $color7
                &:last-child
                    float right
        .projectInfo
            padding 10px 15px
            font-size 0
            .img
                margin-right 17px
                display inline-block
                vertical-align bottom
                img
                    width 112px
                    height 64px
            .text
                display inline-block
                vertical-align top
                span
                    display block
                    font-size 14px
                    color $color7
                    line-height 25px
                a
                    display block
                    color $color3
                    font-size 12px
                    line-height 14px
    .wait
        background-color #FFF8E9
